@model Memberships.Models.ThumbnailAreaModel
    
<div>
    <h3 class="headline">@Model.Title</h3>
</div>

<div class="row">
    @if (Model.Thumbnails.Any())
    {
        <div class="col-sm-3">
            <div class="thumbnail">
                @foreach (var thumbnail in Model.Thumbnails)
                {
                    <img src="@thumbnail.ImageUrl" alt=""/>
                    <div class="caption">
                        <h3><a href="@thumbnail.Link">@thumbnail.Title</a>
                        </h3>
                        <p>@thumbnail.Description</p>
                    </div>
                }
            </div>
        </div>
    }
</div>
    



